name : CI

on:
  push:
  pull_request:

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python_version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12-dev"
    name : Test 
    runs-on: ${{ matrix.os }}
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up python_version
        uses: actions/setup-python@v4
        with:
          python_version: /${{ matrix.python_version }}
    
      - name: Install dependencies
        run: python -m pip install pytest .

      - name: Run tests
        run: pytest

